// **************************************************************************
//
// MAIN
//
// 01. Box Model Reset
// 02. Declarations
// 03. Body/HTML Resets
//
// **************************************************************************

// **************************************************************************
//
// 01. Box Model Reset
//
// **************************************************************************

*,
*::before,
*::after {
  box-sizing: border-box;
}

// **************************************************************************
//
// 03. Body/HTML Resets
//
// **************************************************************************

html {
  font-size: 100%;
}

body {
  background: $white;
}
