// **************************************************************************
//
// CODE
//
// 01. Code Defaults
//
// **************************************************************************

$code-font-stack: Menlo, Consolas, 'DejaVu Sans Mono', Monaco, monospace;
$code-pre-margin-bottom: 2rem;
$code-pre-font-size: 1.3rem;
$code-pre-background-color: #efefef;

// **************************************************************************
//
// 01. Code Defaults
//
// **************************************************************************

code,
kbd,
samp,
var,
pre {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font-size: inherit;
  font-family: #{$code-font-stack};
}

pre {
  white-space: pre;
  display: block;
  margin-bottom: $code-pre-margin-bottom;
  overflow-x: auto;
  padding: $code-pre-margin-bottom;
  line-height: $code-pre-margin-bottom;
  background-color: $code-pre-background-color;
  border: 0;
  font-size: $code-pre-font-size;
}

pre code {
  display: block;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
}

var {
  font-style: normal;
  font-weight: bold;
}

var:before {
  content: '<';
}

var:after {
  content: '>';
}
