// **************************************************************************
//
// GRID
//
// 01. Row Default
// 02. Row Alignment
// 03. Column Defaults
// 04. Standard Grid
// 05. Tile Grid
// 06. Collapsed Grid
//
// **************************************************************************

$column-count: 12 !default;
$gutter-width: 2rem !default;
$tile-count: 15 !default;

$generate-order: true !default;
$generate-push-pull: true !default;
$generate-prefix-suffix: true !default;
$generate-collapsed-grid: true !default;
$generate-tile-grid: true !default;


// **************************************************************************
//
// 01. Row Defaults
//
// **************************************************************************

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: -$gutter-width / 2;
  margin-right: -$gutter-width / 2;
}

// **************************************************************************
//
// 02. Row Alignment
//
// **************************************************************************

.row.align-top {
  align-items: flex-start;
}

.row.align-middle {
  align-items: center;
}

.row.align-bottom {
  align-items: flex-end;
}

.row.align-stretch {
  align-items: stretch;
}

.row.justify-center {
  justify-content: center;
}

.row.justify-left {
  justify-content: flex-start;
}

.row.justify-right {
  justify-content: flex-end;
}

// **************************************************************************
//
// 03. Column Defaults
//
// **************************************************************************

.col {
  width: 100%;
}

.row > [class*="col-"] {
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;
}

@if($generate-push-pull) {

  [class*="col-"].push,
  [class*="col-"].pull {
    position: relative;
  }
}

// **************************************************************************
//
// 04. Standard Grid
//
// **************************************************************************

@each $media-query-name, $media-query-value in $media-queries {

  @media #{$media-query-value} {

    @for $i from 1 through $column-count {

      // Standard Column

      .col-#{$media-query-name}-#{$i} {
        width: 100% / $column-count * $i;
      }

      // Order

      @if($generate-order) {

        .order-#{$media-query-name}-#{$i} {
          order: #{$i};
        }
      }

      // Push & Pull

      @if($generate-push-pull) {

        [class*="col-"].push-#{$media-query-name}-#{$i} {
          right: 100% / $column-count * $i;
        }

        [class*="col-"].pull-#{$media-query-name}-#{$i} {
          left: 100% / $column-count * $i;
        }
      }

      // Prefix & Suffix

      @if($generate-prefix-suffix) {

        [class*="col-"].prefix-#{$media-query-name}-#{$i} {
          margin-left: 100% / $column-count * $i;
        }

        [class*="col-"].suffix-#{$media-query-name}-#{$i} {
          margin-right: 100% / $column-count * $i;
        }
      }
    }
  }
}

// **************************************************************************
//
// 05. Tile Grid
//
// **************************************************************************

@if($generate-tile-grid) {

  [class*="tile-"] {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  [class*="tile-"].align-top {
    align-items: flex-start;
  }

  [class*="tile-"].align-middle {
    align-items: center;
  }

  [class*="tile-"].align-bottom {
    align-items: flex-end;
  }

  [class*="tile-"].align-stretch {
    align-items: stretch;
  }

  [class*="tile-"].justify-center {
    justify-content: center;
  }

  [class*="tile-"].justify-left {
    justify-content: flex-start;
  }

  [class*="tile-"].justify-right {
    justify-content: flex-end;
  }

  [class*="tile-"] > * {
    display: block;
    width: 100%;
    margin-bottom: $gutter-width;
  }

  @each $media-query-name, $media-query-value in $media-queries {

    @media #{$media-query-value} {

      @for $i from 1 through $tile-count {

        .tile-#{$media-query-name}-#{$i} > * {
          width: calc((100% / #{$i}) + #{$gutter-width} / #{$i} - #{$gutter-width});
        }

        .tile-#{$media-query-name}-#{$i} > *:nth-child(#{$i}n + #{$i}) {
          margin-right: 0;
        }

        .tile-#{$media-query-name}-#{$i} > *:not(:nth-child(#{$i}n + #{$i})) {
          margin-right: #{$gutter-width};
        }
      }
    }
  }
}

// **************************************************************************
//
// 06. Collapsed Grid
//
// **************************************************************************

@if($generate-collapsed-grid) {

  .row.collapsed {
    margin: 0;
  }

  .row.collapsed > [class*="col-"] {
    padding: 0;
  }
}
