// **************************************************************************
//
// QUOTES
//
// 01. Quote Defaults
//
// **************************************************************************

$blockquote-margin-bottom: 2rem;

// **************************************************************************
//
// 01. Quote Defaults
//
// **************************************************************************

q {
  quotes: '\201C' '\201D' '\2018' '\2019 ';
  margin: 0;
  padding: 0;
}

cite {
  font-style: normal;
}

blockquote:before,
blockquote:after {
  content: none;
}

blockquote {
  padding: 0;
  margin: 0 0 $blockquote-margin-bottom;
  quotes: none;
  font-style: normal;
}
