// **************************************************************************
//
// TYPOGRAPHY
//
// 01. Typography Defaults
// 02. Anchors
// 03. Selection Reset
// 04. Block Level Elements
// 05. Inline Elements
//
// **************************************************************************

$typography-margin-bottom: 2rem !default;
$typography-html-base: 62.5% !default;
$typography-anchor-color: $blue !default;
$typography-anchor-hover: darken($typography-anchor-color, 15%) !default;
$typography-selection-color: rgba($blue, .4) !default;
$typography-hr-color: rgba(255, 255, 255, .25) !default;

// **************************************************************************
//
// 01. Typography Defaults
//
// **************************************************************************

html {
	font-size: $typography-html-base;
}

body {
	color: $global-typography-font-color;
	font-family: #{$global-typography-font-stack};
	font-size: $global-body-font-size;
	line-height: $global-typography-line-height;
	-webkit-font-smoothing: antialiased;
	text-rendering: auto;
}

// **************************************************************************
//
// 02. Anchors
//
// **************************************************************************

a {
	background: transparent;
	color: $typography-anchor-color;
	cursor: pointer;
	outline: 0;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	color: $typography-anchor-hover;
}

a,
a:hover,
a:active,
a:focus {
	box-shadow: none;
	outline: 0;
}

// **************************************************************************
//
// 03. Selection Reset
//
// **************************************************************************

::selection {
	background: $typography-selection-color;
	text-shadow: none;
}

// **************************************************************************
//
// 04. Block Level Elements
//
// **************************************************************************

p {
	margin: 0 0 $typography-margin-bottom;
	padding: 0;
}

address {
	font-style: normal;
	margin: 0 0 $typography-margin-bottom;
	padding: 0;
}

hr {
	display: block;
	margin: $typography-margin-bottom/2 0 $typography-margin-bottom;
	padding: 0;
	border: 0;
	background: $typography-hr-color;
	height: 1px;
	position: relative;
	z-index: 1;
	top: -1px;
}

// **************************************************************************
//
// 05. Inline Elements
//
// **************************************************************************

abbr,
dfn {
	font-style: normal;
	border: 0;
	border-bottom: 1px dotted $global-typography-font-color;
	cursor: help;
}

ins,
mark {
	text-decoration: none;
}

mark {
	background: lighten($blue, 42%);
	color: inherit;
}

ins {
	background: lighten($green, 45%);
	color: inherit;
}

del {
	background: transparent;
	text-decoration: line-through;
	color: darken($red, 20%);
}
