@import 'settings';

// **************************************************************************
//
// MEDIA
//
// **************************************************************************

figure,
figcaption,
img,
svg,
object,
canvas,
embed,
audio,
video,
iframe {
	width: 100%;
	border: 0;
	margin: 0;
	display: block;
	vertical-align: baseline;
}
